@import "tailwindcss";

/* Màu thẻ Nam - Chỉ nhắm vào khung chính */
.NAM > rect {
  fill: #f0f9ff !important;
  stroke: #0ea5e9 !important;
}

/* Màu thẻ Nữ - Chỉ nhắm vào khung chính */
.NU > rect {
  fill: #fff1f2 !important;
  stroke: #f43f5e !important;
}

/* Hiệu ứng bo tròn ảnh */
.node image {
  clip-path: none !important;
}

/* Hiệu ứng đổ bóng cho toàn bộ node */
.node {
  filter: drop-shadow(0 4px 6px rgb(0 0 0 / 0.2)) !important;
}

.font-cursive {
  font-family: "Dancing Script", "Brush Script MT", cursive;
  font-weight: 600;
  letter-spacing: 0.5px;
}
